body {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
}

.navbar {
  font-weight: 100;
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
  z-index: 3;
}

.navbar .navbar-brand h3 {
  font-weight: 100;
}

.navbar .nav-item {
  font-size: 1.4rem;
}

.navbar .nav-link:hover {
  border-bottom: 1px solid white;
}

#showcase {
  background: url(../images/main.jpeg) bottom center/cover no-repeat;
  min-height: 750px;
  position: relative;
}

#showcase h1 {
  font-family: "Questrial", sans-serif;
  line-height: 1;
  text-transform: uppercase;
}

#showcase h3 {
  text-transform: uppercase;
}

#showcase #book {
  font-size: 1.5rem;
  border-radius: 2rem;
}

#showcase #overlay {
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

#showcase #header {
  z-index: 2;
}

#quotes i {
  opacity: .4;
}

@media (max-width: 768px) {
  .navbar {
    background-color: #1f1f1f;
  }
  .navbar .nav-link:hover {
    border-bottom: none;
  }
  #showcase {
    min-height: 500px;
  }
  #showcase h1 {
    font-size: 4rem;
  }
}

#home {
  background-image: url(../images/background.jpg);
  background-size: cover;
  height: 100vh;
}

.about-img {
  width: 80%;
}

.roboto {
  font-family: 'Roboto', sans-serif;
}

.lato {
  font-family: 'Lato', sans-serif;
}

.khan {
  font-family: 'Kdam Thmor Pro', sans-serif;
}

.dark-bg {
  background-color: #2F2F2F;
}

.light-bg {
  background-color: #FCFFFC;
}

h1 {
  font-weight: 900;
}

#home a {
  text-decoration: none;
}

#home a:hover {
  display: inline;
  transform: scale(1.1);
}
